* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: "Poppins", sans-serif;
  --text-color: #e1e1e6;
  --bg-secondary: #092d38;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);

  background-color: #000;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.app {
  padding: 2rem;
  max-width: 90rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

.search {
  display: flex;
  align-items: left;
}

.search input {
  display: flex;
  width: 462px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: none;

  border-radius: 5px;
  background: #06181c;
}

.search button {
  font-size: 1.4rem;
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  color: var(--text-color);
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;

  border-radius: 5px;
  background: #065e7c;
}

.search button:hover {
  background: var(--text-color);
  color: var(--bg-secondary);
}

table {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 12px;
  border: 1px solid #4a808c;

  margin-top: 8rem;
}

table * {
  font-size: 2rem;
  color: var(--text-color);
}

table th {
  background-color: var(--bg-secondary);
  text-align: left;
  font-weight: normal;
  padding: 1rem;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

table tr:nth-child(even) {
  background: rgba(6, 22, 27, 0.50);
}

table tr:nth-child(odd) {
  background: #06181C;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  display: flex;
  width: 85px;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;

  color: red;
  border: none;
  background: none;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */

  cursor: pointer;
}
